body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
 .xyz{
  display: flex;
  flex-direction: row;
 }
  

  .x1{
     border:2px solid black; 
     width: 100%;
     justify-content: space-between;
  }
  .main{
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
  }
  .logo{
    display: flex;
    align-items: center;
    color: orangered;
    width: 200px;
    justify-content: space-evenly;
  }
  .logo img{
    width: 50px;
    height: 50px;
    border-radius: 55%;
    border: 5px solid red;
  }
  .user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    /* border: 2px solid black; */
  }
  .user a{
    color: black;

  }
  .user a.active{
    /* text-decoration: underline; */
    color:orangered;
  }
  .user a:hover{
    color: orange;
    text-decoration: none;
  }
  .user img{
    border-radius: 50%;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: auto;
  }
  
  .dropdown-content a:hover {
    background-color: orangered;
    color: white;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .heading{
    font-family: cursive;
    color: black;
    margin:40px 0px ;
    text-align: center;
  }
  .carousel-inner img {
width: inherit;
object-fit:fill;
  }
  .para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: justify;
    margin-top: 10px;
  }
  @media screen and (max-width: 700px) {
  
   .main{
    flex-direction: column;
    width: 100%;
   }
   .user{
    width: 100%;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    color: white;
    display:flex;
    flex-wrap: wrap;  
    position: sticky;
    justify-content:space-between;
   }
   .user a.active{
    color: white;
    text-decoration: none;
   } 
   .user a{
    background-color: rgb(235, 88, 14);
    padding: 10px;
   }
   .user a:hover(){
    background-color: white;
    color: orangered;
   }
   .user1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center     ;
   }
  }
  #demo{
    background-color: black;
  }
  /* .row{
    gap:20px;
  } */
  .col1{
    box-shadow: 2px 3px 4px 2px rgb(244, 146, 111);
    border-radius: 20px;
    /* border: 2px solid black; */
   

  }
  .row1{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }
  .row1 div img{
    /* border: 2px solid black; */
    width:200px;
    height:200px;
    margin-top: 2px;
  }
  
  .details{
    display:flex;
    list-style-type: none;
    justify-content: space-between;
  }
  .details button{
    background-color: orangered;
    color: white;
    /* border-radius: 10px; */
    border: none;
  }